.container {
  max-width: calc(100vw - 30rem);
  width: 100%;
  height: 100%;
  padding-inline: 20px;
  display: flex;
  flex-direction: column;
  margin-left: calc(300px + 100px);

  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  blockquote {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .genres {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;

    span {
      margin-right: 10px;
      margin-bottom: 10px;
      padding: 5px 10px;
      border-radius: 5px;
      background-color: #f1f1f1;
    }
  }

  iframe {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
  }


}

.arts_container {
  position: relative;
  width: 100%;
}

.backdrop {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}

.poster {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 14%;
  transform: translate(-50%, -50%);


  overflow: hidden;

  @media (max-width: 768px) {
    margin-left: 0;
    margin-top: 0;
    width: 100%;
    height: 100%;
  }
}

.buttonBack {
  position: fixed;
  left: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.seasons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 1.5rem;

  .season__collapsed {
   //menu fechado
    height: 30px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);

    .episode {
      display: none;
    }
  }

  .season {

    //menu aberto
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 1rem;

    //boxshadow light
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;

    transition: all 0.3s ease-in-out;


    .season__info {
      display: flex;
      align-items: center;

      .season__poster {
        width: 100px;
        height: 150px;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        margin-right: 20px;
      }
    

      .season__date {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .episodes {
      width: 100%;
      display: grid;
      //5 colunas no grid, ou resposivo 2 colunas
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 1rem;
      margin-top: 1rem;

   
    }

    
  }
}